<!--
  Generated template for the MyCarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>我的车辆</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="carInfo.length ===0" class="kongImg">
    <img src="assets/imgs/empty.png" alt="">
    <p>暂无车辆~</p>
  </div>
  <div class="card-car" *ngFor="let item of carInfo">
    <div class="car-name">{{item.carNumber}}</div>
    <!-- <div class="car-num">湘A069j5</div> -->
    <div class="car-img">
      <img src="http://bmob-cdn-20712.b0.upaiyun.com/2018/09/02/98381c4f402575b2806678971c8ddf29.jpg" alt="">
    </div>
    <!-- <ion-grid>
      <ion-row>
        <ion-col col-6>当前状态：</ion-col>
        <ion-col col-6>当前位置：</ion-col>
      </ion-row>
    </ion-grid> -->
    <div class="position" style="padding-bottom:0;" *ngIf="!!item.uInfo">当前状态：{{item.uInfo.status === '0'?'空闲中':'接单中'}}</div>
    <div class="position" *ngIf="!!item.uInfo && !!item.uInfo.city">当前位置：{{item.uInfo.province}}{{item.uInfo.city}}{{item.uInfo.district}}{{item.uInfo.street_number}}</div>
    <!-- <div class="position" *ngIf="item.uInfo == undefined || item.uInfo.city == ''">当前位置：暂无位置信息</div> -->
    <div class="review">
      <img *ngIf="item.status === '2'" src="http://bmob-cdn-20712.b0.upaiyun.com/2018/09/02/c9cc3a3640425dd280454c1fb373a071.png" alt="">
      <img *ngIf="item.status === '0' || item.status === '1'" src="http://bmob-cdn-20712.b0.upaiyun.com/2018/09/02/a81bc6c04050dcac8051eee156808fdf.png" alt="">
    </div>
  </div>
</ion-content>
<button ion-button class="btn" clear [navPush]="'AuthenticationPage'">+新增车辆</button>

