page-edit-name {
  .cancle_btn {
    font-size: 12px;
    // color: #fff;
  }
  .ok_btn {
    font-size: 12px;
    color: #3eb135;
  }
  // .list-ios {
  //   margin-top: 15px;
  // }
  // .list-ios>.item-block:last-child,
  // .list-ios>.item-wrapper:last-child .item-block {
  //   border-bottom: none;
  // }
  // .list-ios>.item-block:first-child {
  //   border-top: none;
  // }
  .text-input-ios {
    font-size: 14px;
  }
}
