page-withdraw {
  ion-content{
    background-color: #f5f5f5 !important;
  }
  .cz-content {
    .cz-tip {
      background: #faf4e8;
      color: #cb9c56;
      font-size: 1em;
      padding: 1rem;
    }
    .cz-bank {
      height: 7.4rem;
      background: #fff;
      position: relative;
      margin-bottom: 1rem;
      .usemoney {
        padding: 1.6rem;
        span {
          color: #373f52;
          font-size: 1.4rem;
          &:first-child {
            margin-right: 1.6rem;
          }
        }
      }
      .bank-img {
        position: absolute;
        left: 1.6rem;
        top: 50%;
        transform: translateY(-50%);
        img {
          width: 4rem;
        }
      }
      .rmb {
        color: #373f52;
        font-size: 3rem;
        left: 2.6rem;
        font-weight: bold;
      }
      .bank-content {
        left: 7.8rem;
        p:nth-child(1) {
          color: #373f52;
          font-size: 1.4rem;
        }
        p:nth-child(2) {
          color: #afb2ba;
          font-size: 1.2rem;
          // margin-top: 0.25rem;
        }
      }
      .img-right {
        right: 1.6rem;
        left: auto;
        width: 1.6rem;
      }
    }
  }
  .cz-input {
    padding: 1rem;
    button {
      border: 0;
      width: 100%;
      margin: 2.4rem 0 1.6rem 0;
      background: #cbd1e0;
      height: 4rem;
      color: #fff;
      font-size: 1.6rem;
      border-radius: 1px;
    }
    .toNext {
      background: #f76754;
    }
    em {
      color: #698bff;
      font-size: 1.2rem;
      float: right;
    }
  }
  .withdraw-tip {
    padding: 0 1.6rem 1rem 1.6rem;
    color: #afb2ba;
    font-size: 1.2rem;
  }
  .withdraw-type {
    background: #fff;
    margin-bottom: 1rem;
    .type1 {
      height: 5.4rem;
      line-height: 5.4rem;
      margin: 0 1.6rem;
      border-bottom: 1px solid #f2f2f2;
      span:nth-child(1) {
        color: #373f52;
        font-size: 1.4rem;
      }
      span:nth-child(2) {
        color: #afb2ba;
        font-size: 1.2rem;
        margin-left: 1.6rem;
      }
      button {
        border: 0;
        position: absolute;
        right: 1.6rem;
        img {
          width: 2rem;
        }
      }
    }
    .noclick {
      opacity: 0.4;
    }
  }
  .area {
    margin-top: 1rem;
    background: #fff;
    div {
      margin: 0 1.6rem;
      button {
        height: 5rem;
        width: 100%;
        border-style: solid;
        border-color: #f2f2f2;
        border-width: 0 0 1px 0;
        position: relative;
        span {
          float: left;
          line-height: 5.4rem;
          font-size: 1.6rem;
          color: #373f52;
        }
        img {
          position: absolute;
          right: 0;
          top: 25%;
          width: 2rem;
        }
        em {
          position: absolute;
          height: 2rem;
          margin: 1.7rem 0;
          right: 3.4rem;
          color: #5f6575;
          font-size: 1.4rem;
        }
      }
      button:last-child {
        border-bottom: 0;
      }
    }
  }
}
